/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

# Framework @ Sniper Front-End 3 - https://github.com/h1dd3nsn1p3r/sniper-front-end

# Package @ Optimistic Blog

# Author @ Offshore Themes

# Author Url @ http://offshorethemes.com/

# License GPL

# Since 2017 Dec

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

**/

// This is variable scss file. Define some variables that you could use in project later

// Import color file here

@import 'colors';



// Define variable for fonts that will be used in project

$primary_font: 'Montserrat', sans-serif;

$secondary_font:'Open Sans', sans-serif;

$special_purpose_font:'Stalemate', cursive;

$second_special_purpose_font:'Spectral SC', serif;


// Define primary line height 

$default-line-height: 1.6;

$default-line-height-for-heading:1.1;


// font-size 

$default-font-size:16px;


// Default font weight

$default-font-weight:400; 






// Define variables for color that will be used in project


$primary_color:#111111;

$secondary_color:#0078D7;

$general_text_color:#333;

$secondary_text_color:#7b7b7b;

$primary_bg_color:#111111;

$secondary_bg_color:#0078D7;

$border_color:#e0e0e0;

$footer_bg:#010101;

$footer_border:rgba(255,255,255,0.2);

$footer_color:#eee;












